@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");

.main-container {
  background-color: #d5e1ef;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  height: 288px;
  width: 288px;
  border-radius: 10px;
}
.image {
  /* T R B L */
  padding: 16px 0 24px 0;
}

.body-container {
  height: 499px;
  width: 320px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #1f314f;
  font-size: 22px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
  margin:0;
  padding: 0px 16px 16px 16px;
}

.sub-heading {
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #64748b;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0px 16px 40px 16px;
}
